/* ultilitarias */
.container-interface {
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.destaque {
    font-family: 'Epilogue',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* header */
.nav-menu-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.span-logo {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-menu-header>ul {
    display: flex;
    gap: 1.5rem;
    color: #fff2e780;
}

.github {
    color: #fff2e7;
}

/* main */



.bg-hero {
    background: #181012;
}

.section-hero {
    height: 60vh;
    justify-content: space-between;
    gap: 6rem;
    overflow: clip;
    align-items: center;
}

.hero-header {
    flex-direction: column;
    gap: 1rem;
}

.titulo-principal {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 1;
    
}

.titulo-principal::after {
    content: "";
    display: block;
    height: 2px;
    width: 300px;
    background-color:#a45a49;
    margin-top: 30px;
    margin-bottom: 15px;
}

.hero-img-container {
    column-count: 4;
    align-self: center;
    column-gap: 1rem;
}

.hero-img-container img {
    width: 100%;
    border-radius: 0.5rem;

}

/* botão do meio do saite */

.div-button button{
    background: transparent;
    border: none;
    position: relative;
    display: block;
    width: fit-content;
    top: -50%;
}

/* section destaques */

.section-comentarios {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
}

.header-comentarios {
    width: 100%;
}

.comentarios {
    display: flex;
    flex-wrap: wrap;
    background-color: #241A1C;
    padding: 24px;
    gap: 24px;
    max-width: 576px;
    border-radius: 10px;
}

.interface-comentario {
    max-width: 560px;
    display: flex;
    background-color:aqua;
    margin: 0 auto;
    
    justify-content: space-between;
    align-items: end;
}



   





